---
import Layout from '../layouts/Layout.astro';
import Callout from '../components/Callout.astro';
---

<Layout title="Laura Seoane ~ Backend Developer">
	<main>
		<h1 class="text-gradient">Laura Seoane ~ Backend Developer</h1>
		<p class="instructions">
			¡Hola!
			Soy Laura Seoane: madrileña con raíces gallegas, amante del mundo de la comedia, el cine y los juegos de mesa.

			Mis referentes son Xena, Leia y mi madre.
			Soy esa persona que pide la pizza con piña.
		</p>
		<ul role="list" class="callout-grid">
			<Callout
				title="Test callout"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor sit amet orci sit amet blandit. Etiam ornare elit ornare tincidunt posuere. Morbi a euismod nisi, volutpat eleifend dolor. Nunc pretium ipsum eget magna viverra, ut fringilla augue convallis. In quis lacus luctus, vestibulum odio non, aliquam ante. Cras sed faucibus tortor. Praesent auctor molestie ante at semper."
			/>
			<Callout
				title="Another callout"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor sit amet orci sit amet blandit. Etiam ornare elit ornare tincidunt posuere. Morbi a euismod nisi, volutpat eleifend dolor. Nunc pretium ipsum eget magna viverra, ut fringilla augue convallis. In quis lacus luctus, vestibulum odio non, aliquam ante. Cras sed faucibus tortor. Praesent auctor molestie ante at semper."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.callout-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
