---
import Layout from '../layouts/Layout.astro';
import Callout from '../components/Callout.astro';
---

<Layout title="Laura Seoane ~ Backend Developer">
	<main>
		<section>
			<div class="presentation">
				<Callout icon="👋" color={1}><p>¡Hola! Soy <strong>Laura Seoane</strong>: madrileña con raíces gallegas, amante del mundo de la comedia, el cine y los juegos de mesa.&NewLine;&NewLine;Mis referentes son Xena, Leia y, por supuesto, mi madre.&NewLine;Soy esa persona que pide la pizza con piña.</p></Callout>
				<img class="avatar" alt="" src="/avatar.webp"/>
			</div>
			<div class="callout-list">
				<Callout icon="📚" color={2}><p>Estudié la FP de <strong>Sistemas Microinformáticos y Redes</strong> y rápidamente supe que había encontrado mi camino. Continué con el grado superior en <strong>Desarrollo de Aplicaciones Web</strong>, que terminó de convencerme de que este es mi sitio.</p></Callout>
				<Callout icon="👩‍💻" color={1}><p>Oficialmente soy <strong>Backend Developer</strong> pero me gusta meterme un poco en todos los “fregaos”. Lo que más disfruto del trabajo es aprender y aplicar técnicas de refactoring, debatir sobre arquitecturas y participar en el desarrollo de producto.&NewLine;&NewLine;Vengo de unos años desarrollando en <strong>PHP</strong> pero actualmente trabajo con <strong>JavaScript/TypeScript</strong> (en entorno NodeJS).</p></Callout>
			</div>
		</section>
	</main>
</Layout>

<style>
	section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.presentation {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		align-items: center;
		justify-content: center;
	}
	.callout-list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 0;
	}
	.avatar {
		max-width: 20%;
		min-width: 180px;
		aspect-ratio: 1/1;
	}
	@media only screen and (max-width:767px) {
		.presentation {
			flex-direction: column-reverse;
		}
	}
</style>
