---
import Layout from '../layouts/Layout.astro';
import Callout from '../components/Callout.astro';
---

<Layout title="Laura Seoane ~ Backend Developer">
	<h1 class="text-gradient">Laura Seoane ~ Backend Developer</h1>
	<main>
		<section>
			<div class="presentation">
				<Callout icon="👋" color={1}>¡Hola!&NewLine;Soy Laura Seoane: madrileña con raíces gallegas, amante del mundo de la comedia, el cine y los juegos de mesa.&NewLine;&NewLine;Mis referentes son Xena, Leia y mi madre.&NewLine;Soy esa persona que pide la pizza con piña.</Callout>
				<img class="avatar" alt="" src="../../public/avatar.png"/>
			</div>
			<div class="callout-list">
				<Callout icon="📚" color={2}>Estudié por casualidad la FP de Sistemas Microinformáticos y Redes y rápidamente supe que había encontrado mi camino. Continué con el grado superior en Desarrollo de Aplicaciones Web, que terminó de convencerme de que este era mi sitio.</Callout>
				<Callout icon="👩‍💻" color={1}>Oficialmente soy Backend Developer pero me gusta meterme un poquito en todos los “fregaos”. Me encantan los debates sobre arquitectura y encuentro el mismo placer en el refactoring que en las croquetas.&NewLine;&NewLine;Vengo de unos años desarrollando en PHP pero actualmente trabajo con JavaScript/TypeScript (en entorno NodeJS).</Callout>
			</div>
		</section>
	</main>
</Layout>

<style>
	section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0;
	}
	.presentation {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		align-items: center;
		justify-content: center;
	}
	.callout-list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 0;
	}
	.avatar {
		flex: 1;
		max-width: 20%;
		min-width: 200px;
	}
</style>
