---
interface Props {
	icon?: string;
	title: string;
	color: number;
}

const { icon, title, color } = Astro.props;
const backgroundColor = color === 2 ? "#faeaf3" : "#f7f0fc"
---

<article class="callout">
	<div>
		{title &&
			<h2>
				<span class="callout-icon">{icon}</span> {title}
			</h2>
		}
		<div class="callout-body">
			{!title && <span class="callout-icon">{icon}</span>}<slot></slot>
		</div>
	</div>
</article>
<style define:vars={{ backgroundColor }}>
	.callout {
		list-style: none;
		display: flex;
		padding: calc(1.5rem - 1px);
		background-color: var(--backgroundColor);
		border-radius: 3px;
		min-width: 220px;
		height: fit-content;
		flex: 2;
	}
	.callout > div {
		width: 100%;
		text-decoration: none;
		line-height: 1.3;
		border-radius: 3px;
		color: black;
		opacity: 0.8;
	}
	.callout-body {
		display: flex;
		align-items: baseline;
		white-space: pre-wrap;
	}
	.callout-icon {
		padding: 0 5px 0 0;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
