---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Backend developer especializada en NodeJS. Madrileña con raíces gallegas, amante del mundo de la comedia, el cine y los juegos de mesa." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦆</text></svg>">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: #f7f0fc;
		--accent-light: #faeaf1;
		--accent-dark: #9d65cb;
		--accent-darkest: #4A4C74;
	}
	* {
		margin: 0;
		padding: 0;
	}
	html {
		font-family: Courier, sans-serif;
		line-height: 1.3;
		position: relative;
	}
	body {
		min-height: 100vh;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 2rem;
	}
	main {
		margin: 0 auto;
		padding: 1rem;
		max-width: 900px;
		color: white;
		font-size: 16px;
	}
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--accent-darkest);
		bottom: 0;
		color: white;
		width: 100%;
		font-family:
			Noto Sans,
			Lato,
			sans-serif;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family:
			Noto Sans,
			Lato,
			sans-serif;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	a, a:active, a:visited {
		color: inherit;
	}
</style>
